@use "../../index" as *;

.apropos__container {
   @include flex(column);
}

.collapse__container {
@include flex(column, $gap: 30px);
  margin: 45px 208px 0 208px;
   @include mobile {
    gap: 20px;
    margin: 20px;
  }
}